@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.background-image {
    background-image: url("https://www.tesla.com/sites/default/files/images/semi/reveal-social.jpg");
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
